@model WebZhurnal.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="col-md-2 control-label">Тип</label>
            <div class="col-md-10">
                <select onchange="utChange(this)" name="type" class="form-control">
                    <option value="Student">Ученик</option>
                    <option value="Teacher">Учитель</option>
                    <option value="Group">Группа</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Имя</label>
            <div class="col-md-10">
                <input name="name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="GroupId" class="col-md-2 control-label">Группа</label>
            <div class="col-md-10">
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        
            <label asp-for="PhoneNumber" class="col-md-2 control-label">Телефон</label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

