
@{
    ViewData["Title"] = "Мои ученики";
    List<ApplicationUser> Students = (List<ApplicationUser>)ViewBag.Students;
    List<Subject> Subjects = (List<Subject>)ViewBag.Subjects;
}

<h3>Мои ученики</h3>

