
@{
    ViewData["Title"] = "Мои ученики";
    List<ApplicationUser> Students = (List<ApplicationUser>)ViewBag.Students;
    List<StudentRate> Rates = (List<StudentRate>)ViewBag.Rates;
}

<h3>Мои ученики</h3>
<table class="table-striped table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Students)
        {
            <tr>
                <td>
                    @student.Name
                </td>
                <td>
                    @Rates.FirstOrDefault(r=>r.StudentId==student.Id)?.Value
                </td>
            </tr>
        }
    </tbody>
</table>

