
@{
    ViewData["Title"] = "Index";
}

<h2>Администрирование</h2>

<style>
    .abtn{
        width:100%;
        display:block;
        line-height:100%;
        vertical-align:middle;
        text-align:center;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <a class="abtn info">
            <span>Студенты</span>
        </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>

