
@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Администрирование</h2>

<style>
    .abtn {
        width: 100%;
        display: block;
        line-height: 200px;
        vertical-align: middle;
        text-align: center;
        height: 200px;
        cursor: pointer;
        text-decoration: none;
        font-size: 48px;
    }

        .abtn span:hover, .abtn:hover {
            text-decoration: none;
        }
</style>

<div class="row">
    <div class="col-md-4">
        <a class="abtn bg-info" asp-controller="Users">
            <span>Пользователи</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="abtn bg-warning" asp-controller="Groups">
            <span>Группы</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="abtn bg-success" asp-controller="Subjects">
            <span>Предметы</span>
        </a>
    </div>
</div>

