
@{
    ViewData["Title"] = "Index";
}

<br /><br /><br /><br />
<style>
    .abtn {
        width: 100%;
        display: block;
        line-height: 200px;
        vertical-align: middle;
        text-align: center;
        height: 200px;
        cursor: pointer;
        text-decoration: none;
        font-size: 48px;
    }

        .abtn span:hover, .abtn:hover {
            text-decoration: none;
        }
</style>

<div class="row">
    <div class="col-md-4">
        <a class="abtn bg-info" asp-controller="Users">
            <span>Пользователи</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="abtn bg-warning" asp-controller="Groups">
            <span>Классы</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="abtn bg-success" asp-controller="Subjects">
            <span>Предметы</span>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <a class="abtn" style="height:100px; line-height:100px; background-color:rgba(81, 211, 203, 0.52)" asp-controller="Log" asp-action="Rates">
            <span>История отметок</span>
        </a>
    </div>
    <div class="col-md-2">
    </div>
</div>

